[credential]
	helper = cache --timeout=43200
[alias]
	st = status
	cm = commit
	cout = checkout
[user]
	email = neotod@protonmail.com
	name = neotod
[core]
	filemode = false
	editor = vim
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
